# 1. Importing Libraries

install geopandas module

In [ ]:
pip install geopandas

In [ ]:
import geopandas as gpd

In [ ]:
pip install pandas

In [ ]:
import pandas as pd

# 2. Reading files

In [ ]:
# load datasets from building folder
building_info = gpd.read_file('./datasets/building_2023/2022_building_info.geojson')

residential = gpd.read_file('./datasets/building_2023/2022_residential.geojson')

building = gpd.read_file('./datasets/building_2023/2023_building.geojson')

In [ ]:
# load datasets from canopy folder
canopy = gpd.read_file('./datasets/canopy_2021/2021_tree_canopies.geojson')

dimention = gpd.read_file('./datasets/canopy_2021/2021_trees_dimension.geojson')

In [ ]:
# load datasets from footpath folder
footpath = gpd.read_file('./datasets/Footpath_2023/2015_footpaths.geojson')

steepness = gpd.read_file('./datasets/Footpath_2023/2023_footpath_steepness.geojson')

In [ ]:
# load datasets from microclimate folder
sensor_loc = gpd.read_file('./datasets/microclimate_sensor_2024/2021_microclimate_sensor_loc.geojson')

sensor_reading = pd.read_csv('./datasets/microclimate_sensor_2024/2023_microclimate_sensor_reading.csv')

realtime_sensor_reading = pd.read_csv('./datasets/microclimate_sensor_2024/2024_all_sensors_real-time.geojson')

In [ ]:
# load datasets from road folder
road = gpd.read_file('./datasets/road_2020/2020_road.geojson')

# 3. Data Exploration

In [ ]:
residential.count()

In [ ]:
building_info.head()

In [ ]:
building_info.head(20)

In [ ]:
residential.head(10)

In [ ]:
building.head()

# 4. Data Integration

In [ ]:
  import re

In [ ]:
merged_gdf = building_info.sjoin(residential, how='left', op='within')

In [ ]:
merged_gdf['postcode'] = merged_gdf['street_address'].apply(lambda x: re.findall(r'\d{4}', x))
merged_gdf['postcode'] = merged_gdf['postcode'].apply(lambda x: x[0] if len(x) > 0 else None)

In [ ]:
merged_gdf = merged_gdf.drop_duplicates(subset=['property_id_left'])

In [ ]:
merged_gdf.head()

In [ ]:
merged_gdf.count()

In [ ]:
merged_gdf = merged_gdf.drop(columns=['index_right'])

In [ ]:
df_building = gpd.sjoin(merged_gdf, building, how='left', op='within')

In [ ]:
df_building.head()

In [113]:
building.head()

,geo_point_2d,objectid,structure_id,footprint_type,roof_type,footprint_max_elevation,footprint_min_elevation,structure_max_elevation,structure_min_elevation,footprint_extrusion,structure_extrusion,date_captured,geometry
0,"{'lon': 144.95729073971657, 'lat': -37.7880585...",37005,809169,Structure,Flat,57.5,44.5,57.5,44.0,13.0,13.5,20180528,"POLYGON ((144.95732 -37.78811, 144.95730 -37.7..."
1,"{'lon': 144.95763290112558, 'lat': -37.7880343...",37007,809169,Structure,Gable,50.5,44.0,57.5,44.0,6.5,6.5,20180528,"POLYGON ((144.95766 -37.78802, 144.95761 -37.7..."
2,"{'lon': 144.95736652227484, 'lat': -37.7880519...",37008,809169,Structure,Hip,56.0,45.0,57.5,44.0,11.0,12.0,20180528,"POLYGON ((144.95743 -37.78805, 144.95742 -37.7..."
3,"{'lon': 144.97930388437058, 'lat': -37.8371529...",37010,802864,Structure,Flat,22.0,16.5,28.5,16.5,5.5,5.5,20180528,"POLYGON ((144.97949 -37.83703, 144.97942 -37.8..."
4,"{'lon': 144.97925051556004, 'lat': -37.8372373...",37011,802864,Structure,Hip,27.0,24.5,28.5,16.5,2.5,10.5,20180528,"POLYGON ((144.97920 -37.83719, 144.97919 -37.8..."